correct,wrong{
    font-size: 300%;
    letter-spacing: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

correct{
    color: green;
    font-weight: bold;
}

wrong{
    color: red;
}

#answers{
    text-align: center;
}
